
html {
	--sans-serif: 'Satoshi', Helvetica;
	--serif: Noto Serif Display, Old Standard TT, Times New Roman;

	
}
a {
	font-family: var(--sans-serif);
	text-transform: uppercase;
	font-weight: 200;
	letter-spacing: .5rem;
}


a:hover {
	text-decoration: underline;
	color: var(--highlight);
}

@media (prefers-color-scheme: dark) {
	a:hover {
		color: var(--highlight);
	}
}

/* Main header or banner text or similar */
.screaming-voice {
	font-size: clamp(40px, 7.5vw, 140px);
}

/* Header text or similar */
.loud-voice {
	font-family: var(--sans-serif);
	font-size: 30px;
	font-weight: 700;
	font-color: var(--color);
}

/* Sub-header text or similar */
.attention-voice {
	font-family: var(--sans-serif);
	font-size: 26px;
}

/* Paragraph text or similar */
.normal-voice {
	font-size: 16px;
	font-family: var(--sans-serif);
}

/* Caption text or similar */
.calm-voice {
	font-size: 12px;
	font-family: var(--sans-serif);
}

/* Fine print text or similar */
.quiet-voice {
	font-size: var(--small-font);
	font-family: var(--sans-serif);
}

:is(.calm-voice, p) em {
	font-style: italic;
	font-family: var(--sans-serif);
}

:is(.calm-voice, p) strong {
	font-weight: 700;
	font-family: var(--sans-serif);
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
